* {
    margin: 0;
    padding: 0;
}

main {
    height: auto;
}

#navbar {
    background-color: #103928;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

#prenav {
    width: 100%;
    height: auto;
    padding-left: 2em;
}

#metalogo {
    width: 5.5em;
    height: 3.5em;
}

header {
    width: 100%;
    height: auto;
    background-color: #103928;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 4em 2em 2em 2em;
}

#whatsapplogo {
    width: 16%;
    margin-top: -2em;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    margin-right: -15em;
    margin-left: 0em
}

#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 70%;
    margin-right: 4em;
    margin-top: -1em;
    margin-left: -7em;
}

#lastnavdiv {
    width: auto;
    margin-top: -1em;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu button {
    background-color: #43dc66;
    font-size: 1em;
    height: 3em;
    border: #43dc66;
    align-items: flex-start;
    border-radius: 30px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-top: -2em;
    transition: all 0.4s;
}

#menu button:hover {
    opacity: 0.6;
}

#togglebtn {
    display: none;
}

#fontawesome {
    width: 12%;
    color: #43dc66;
    background-color: #103928;
    margin-top: -1.5em;
    border: none;
    font-size: 1.2em;
    transition: all 0.4s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fontawesome:hover {
    opacity: 0.6;
}

#downbtn {
    color: white;
    margin-left: 0.4em;
    font-size: 0.8em;
    display: inline;
}

#advert {
    background-color: #d9eafb;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#advert p {
    text-align: center;
    font-weight: 700;
    font-size: 0.8em;
}

#advert a {
    opacity: 0.8;
}

#globebtn {
    margin-right: 0.2em;
    font-size: 1em;
    display: inline;
}

#productchoice {
    width: 100%;
    background-color: #103928;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3em;
    margin-top: -1em;
}

#biztransform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5em;
}

#biztransform h1 {
    color: #43dc66;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.7em;
}

#biztransform p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#biztransform button {
    background-color: #43dc66;
    font-size: 1em;
    height: 4em;
    border: #43dc66;
    border-radius: 30px;
    width: 15em;
    margin-top: 2em;
    transition: all 0.4s;
}

#biztransform button:hover {
    opacity: 0.6;
}

.transformbiz {
    width: 50%;
}

#productchoice2 {
    padding: 5em;
}

#productchoice2 img {
    width: 30em;
    height: 30em;
    align-self: center;
}

#lg2sm {
    width: 100%;
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10em;
}

#lg2sm h6 {
    text-align: center;
    opacity: 0.8;
    width: 100%;
}

#lg2sm p {
    font-size: 3.3em;
    text-align: center;
    color: black;
    font-weight: 400;
    padding-left: 2em;
    padding-right: 2em;
}

#lg2sm span {
    text-decoration: underline;
    text-decoration-color: #43cd66;
}

#bizsupport {
    width: 100%;
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6em;
    margin-bottom: 10em;
}

.support {
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 6em 3em 3em 3em;
    box-shadow: 0 0.1em 0.9em -0.4em black;
    border-radius: 10px;
}

.fa-solid {
    color: #43cd66;
    font-size: 3em;
    margin-bottom: 1em;
}

.support h3 {
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.support p {
    opacity: 0.9;
    font-size: 1.1em;
}

#arrow1,
#arrow2 {
    font-size: 1em;
}

.arrowtext {
    color: black;
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 1.1em;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#collapse {
    width: 100%;
    height: 100vh;
    background-color: #f1e9de;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown img {
    border-radius: 15px;
    width: 80%;
    height: 60%;
    margin-top: 7em;
    margin-left: 3em;
}

.dropdown:nth-of-type(2) {
    margin-left: -5em;
}

.dropdown h1 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: -1em;
}



#accordionExample {
    width: 85%;
    font-size: 1.2em;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion-body {
    background-color: #f1e9de;
}

.accordion-button {
    background-color: #f1e9de;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

#success-stories {
    width: 100%;
    width: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 8em;
    margin-left: 8em;
    margin-bottom: 4em;
}

#success-stories h4 {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
    font-weight: 700;
    font-size: 1.3em;
}

#success-stories h1 {
    font-size: 3em;
    width: 20em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

#success-stories span {
    font-size: 0.4em;
}


#carousal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#carousal div {
    background-color: #d6fcdf;
    margin-left: 3em;
    padding: 3em;
    border-radius: 25px;
    margin-bottom: 3em;
}

#carousal img {
    border-radius: 25px;
    margin-top: 2em;
    width: 40em;
    height: 25em;
}

#carousal h1 {
    font-size: 3em;
}



#learnmore {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#learnmore div {
    background-color: #103928;
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
}

#learnmore h1 {
    text-align: center;
    color: #43cd66;
    font-size: 3.5em;
}

#learnmore p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#learnmore button {
    background-color: #43dc66;
    align-self: center;
    font-size: 1.2em;
    height: 3.5em;
    border: #43dc66;
    border-radius: 40px;
    width: 16%;
    transition: all 0.4s;
}

#learnmore button:hover {
    opacity: 0.6;
}

main {
    margin-bottom: 20em;
}

footer {
    width: 100%;
    height: 25vh;
    background-color: #43cd66;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#footerlogo {
    width: 16%;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 55%;
    margin-top: 4em;
}

footer a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}

footer a:hover {
    opacity: 0.8;
}

footer span {
    margin-top: 4em;
}

/* Time to make the site responsive */

/* First i adjust how the page looks on a device whose screen width is 1200px below */

@media (max-width: 1200px) {
    #togglebtn {
        display: block;
        font-size: 2em;
        color: white;
        margin-top: -0.2em;
        margin-left: 0.5em;
        float: right;
    }

    #advert {
        margin-top: 3em;
    }

    #menu {
        display: none;
    }

    #fontawesome {
        margin-top: -3em;
    }

    #whatsapplogo {
        width: 20%;
        margin-top: -4em;
    }

    main {
        margin-top: -5rem;
    }

    #productchoice img {
        width: 96%;
        height: 90%;
    }

    #biztransform h1 {
        font-size: 3em;
    }

    #biztransform p {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 1em;
    }

    #lg2sm {
        margin-top: 5em;
    }

    #lg2sm p {
        font-size: 3em;
    }

    .support {
        padding-top: 3em;
    }

    #arrow1,
    #arrow2 {
        font-size: 1.5em;
    }

    .dropdown img {
        margin-right: 5em;
    }

    #collapse {
        height: 120vh;
    }

    .dropdown h1 {
        font-size: 3.5em;
        text-align: left;
        width: 70%;
        margin-bottom: 0em;
        margin-top: 0.5em;
    }

    #success-stories h1 {
        width: 150%;
    }

    #learnmore {
        margin-bottom: 25em;
        margin-top: 0em;
    }

    #learnmore div {
        height: 70vh;
    }

    #learnmore button {
        height: 3.5em;
        border: #43dc66;
        width: 20%;
    }
}

/* I add a styling instruction for screen sizes below 1000px*/

@media (max-width:1000px) {
    #productchoice {
        flex-direction: column;
        align-content: space-between;
    }

    .transformbiz {
        width: 100%;
    }

    #productchoice2 img {
        height: 35em;
    }

    #biztransform p {
        margin-top: 2em;
        margin-bottom: 1.5em;
        font-size: 1.2em;
    }

    #lg2sm p {
        font-size: 2.5em;
    }

    #bizsupport {
        flex-direction: column;
        align-content: center;
    }

    .support {
        width: 90%;
        margin-bottom: 2em;
    }

    #collapse {
        flex-direction: column;
        height: auto;
        padding-bottom: 3em;
        margin-top: -6em;
    }

    #dropdown {
        width: 100%;
    }

    #dropdown img {
        width: 90%;
    }

    #dropdown2 {
        width: 100%;
        margin-top: 3em;
        padding-left: 3em;
    }

    #dropdown2 h1 {
        width: 100%;
        margin-left: 1.5em;
        margin-bottom: 0.5em;
        font-size: 2.5em;
        font-weight: 400;
        text-align: left;
    }

    #accordionExample {
        width: 98%;
        margin-left: 3em;
    }

    #success-stories h1 {
        width: 100%;
        margin-left: -2em;
        font-size: 2.3em;
    }

    #success-stories h4 {
        margin-left: -3.5em;
    }


    #success-stories {
        margin-bottom: 4em;
        width: 80%;
    }

    #success-stories h1 {
        width: 100%;
    }

    #success-stories span {
        font-size: 0.5em;
        margin-left: -8em;

    }

    #whatsapplogo {
        width: 30%;
        margin-top: -4em;
    }

    #learnmore {
        margin-top: 15em;
    }

    #learnmore div {
        width: 90%;
        padding: 3em;
    }

    #learnmore h1 {
        font-size: 2.5em;
    }

    #learnmore button {
        height: 3.5em;
        width: 30%;
        opacity: 0.7;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        align-content: space-around;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    footer ul {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-evenly;
        height: auto;
        margin-left: -30em;

    }

    footer li {
        margin-bottom: 1em;
        font-size: 1.2em;
    }

    #footerlogo {
        margin-left: -21em;
        width: 25%;
    }

    footer span {
        margin-left: -17em;
        font-size: 1.2em;
    }
}

/* I add another styling instruction for screen sizes below 900px*/

@media (max-width: 900px) {
    #carousal img {
        width: 500px;
        height: 300px;
    }

    #learnmore {
        margin-top: 5em;
    }
}

/* Next, i adjust how the LEARN MORE div looks on a device whose screen width is 800px below */
@media (max-width: 800px) {
    #learnmore {
        margin-top: 15em;
    }

}

/* I add more adjustments for screen width below 750px*/

@media (max-width: 750px) {
    #success-stories h1 {
        width: 100%;
    }

    #learnmore {
        margin-top: 1em;
    }

    #success-stories span {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        margin-left: -20em;
    }

}

/* I add another adjustment to my Carousal div for screen sizes below 700px*/

@media (max-width: 700px) {
    #carousal img {
        width: 400px;
    }

    #carousal h1 {
        font-size: 1.8em;
    }

}

/* Ooops, getting tiring but that's how it works. It must be responsive on all screen sizes.*/

/* Now, i'll add another styling instruction for screen sizes below 650px*/

@media (max-width: 650px) {
    #advert {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #learnmore {
        margin-top: 8em;
    }

    #productchoice {
        margin-top: -1em;
        padding-top: 0em;
    }

    #productchoice h1 {
        margin-top: -1em;
    }

    #productchoice2 {
        margin-top: -5em;
    }

    #productchoice img {
        height: 30em;
        width: 100%;
    }

    #lg2sm {
        margin-top: 3em;
    }

    #bizsupport {
        margin-top: 2em;
    }

    #collapse {
        margin-top: -8em;
    }

    #success-stories {
        margin-top: 6em;
        width: 70%;
    }

    #success-stories h1 {
        font-size: 2em;
        width: 90%;
        margin-left: -2.5em;
        margin-top: 1em;
    }

    #success-stories span {
        margin-left: -10em;
    }



    #learnmore {
        margin-top: 1em;
        margin-bottom: 0em;
    }

    #learnmore div {
        width: 100%;
    }

    #learnmore button {
        width: 60%;
    }

    footer span {
        margin-left: -12em;
    }

    footer {
        margin-top: 27em;
    }
}

/* I add a styling instruction for screen sizes below 560px*/

@media (max-width: 560px) {

    #success-stories {
        margin-left: 0em;
        padding-left: 8em;
        margin-bottom: 5em;
    }

    #success-stories h4 {
        width: 100%;
    }

    #success-stories h1 {
        width: 12em;
    }

    #success-stories span {
        width: 35em;
    }


    #carousal {
        flex-direction: column;
        padding-right: 3em;
    }

    #carousal div {
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: 1em 0em 1em 1em;
        width: 100%;
    }

    #carousal img {
        margin-left: 2em;
    }

    #learnmore {
        margin-top: 5em;
    }

    footer {
        padding-left: 5em;
    }

    #footerlogo {
        width: 10em;
    }

    footer ul {
        width: 90%;
    }

    footer {
        margin-top: 25em;
    }

    #lg2sm p {
        width: 100%;
        font-size: 2em;
    }

    #productchoice2 img {
        height: 20em;
    }


}

/* Getting close to goal, so i'll add a little adjustment for the Carousal div on screen sizes below 500px*/

@media (max-width: 500px) {
    #carousal {
        padding-left: 0em;
        padding-right: 0em;
    }

    #carousal img {
        margin-left: 0em;
    }

}

/* I add a styling instruction for screen sizes below 450px*/

@media (max-width: 450px) {
    #whatsapplogo {
        width: 9em;
    }

    #advert {
        padding-left: 2em;
        padding-right: 2em;
    }


    #success-stories {
        padding-left: 6em;
        width: 100%;
    }

    #carousal img {
        width: 23em;
    }

    #biztransform button {
        margin-top: -3em;
        margin-left: -3em;
    }

    footer {
        padding-left: 12em;
        margin-top: 30em;
    }

    #biztransform h1 {
        margin-left: -1em;
    }

    #biztransform p {
        margin-left: -2em;
        margin-bottom: 5em;
    }

    #learnmore div {
        height: 30em;
    }
}


/* I add a styling instruction for screen sizes below 400px*/

@media (max-width: 400px) {
    #productchoice2 img {
        width: 18em;
        margin-left: -2em;
    }

    #success-stories h1 {
        width: 90%;
    }

    #success-stories {
        padding-left: 8em;
    }

    #carousal img {
        width: 20em;
        height: 15em;
    }

    footer ul {
        width: 10em;
    }
}

/* I add a styling instruction for extremely small screen sizes below 350px*/

@media (max-width: 350px) {

    #learnmore div {
        height: 30em;
    }

    #learnmore button {
        width: 90%;
    }

    #learnmore {
        height: 20em;
    }

    footer {
        margin-top: -5em;
        padding-left: 15em;
    }

    footer ul {
        margin-left: -25em;
        width: 100%;
    }

    #lg2sm h6 {
        padding-left: 2em;
        padding-right: 2em;
    }

    #success-stories h4 {
        margin-bottom: 2em;
    }

    #success-stories h1 {
        margin-bottom: 2em;
        width: 100%;
    }

    #success-stories span {
        width: 20em;
    }

    #carousal img {
        width: 14em;
    }

    #dropdown img {
        width: 100%;
        margin: 0em;
    }

    #productchoice2 {
        width: 100%;
        margin: 0em;
    }

    #productchoice img {
        width: 17em;
        margin: 0em;
        margin-left: -4em;
    }

    #whatsapplogo {
        margin-left: -0.8em;
        margin-top: -3em;
    }

    #lastnavdiv {
        font-size: 0.8em;
        margin-top: -1em;
    }

    #biztranform {
        margin-left: -20em;
    }

    #biztransform button {
        margin-top: -7em;
        padding: 0.5em 2em 0.5em 2em;
        margin-left: -3em;
        margin-bottom: -7em;
    }

}

/* I added extra styling instructions for extremely small screen sizes below 300px*/

@media (max-width: 300px) {

    header {
        flex-direction: column;
    }

    #whatsapplogo {
        margin-bottom: 2em;
    }

    #biztransform button {
        margin-top: -13em;
    }

    #learnmore div {
        height: 35em;
    }

    footer {
        margin-top: 0em;
    }

    #productchoice img {
        width: 15.5em;
        margin-left: -5em;
    }

    #productchoice button {
        padding-left: 0em;
        padding-right: 0em;
        margin-left: -5em;
    }

    #arrow1,
    #arrow2 {
        font-size: 1em;
    }

    #carousal img {
        width: 13em;
    }
}


/* Lastly, i'll add a styling instruction for screen sizes below 250px as well*/

@media (max-width: 250px) {

    #biztransform h1 {
        width: 2em;
        font-size: 2em;
        margin-left: -1.8em;
    }

    #biztransform p {
        margin-left: -3em;
        width: 10em;
        margin-bottom: 13em;
        padding-right: 0em;
    }

    #biztransform button {
        width: 12em;
        align-self: center;
    }

    #productchoice2 img {
        width: 14em;
    }

    #lg2sm p {
        align-self: center;
        font-size: 1.5em;
        width: 7.5em;
        padding: 0em;
    }


    .support h3 {
        font-size: 1.5em;
    }

    #learnmore div {
        height: 35em;
        padding-left: 0.2em;
        padding-right: 0.2em;
    }

    #learnmore div p {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #productchoice,
    #success-stories,
    #carousal,
    #bizsupport,
    #lg2sm,
    #collapse,
    #advert,
    header,
    #learnmore {
        width: 15em;
    }

    #learnmore p {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    #success-stories {
        padding-left: 6em;
    }

    #success-stories h1 {
        width: 150%;
    }

    #success-stories h4 {
        margin-bottom: 0em;
    }

    #collapse {
        padding-left: 0.4em;
    }

    #collapse h1 {
        font-size: 1.5em;
        margin-left: 3em;
    }

    #success-stories span {
        font-size: 0.4em;
        width: 20em;
    }

    #carousal h1 {
        font-size: 1.3em;
        width: 80%;
    }

    #success-stories h1 {
        font-size: 1.2em;
        margin-left: -4em;
    }

    footer {
        margin-top: 22em;
    }

    footer span {
        font-size: 1em;
        margin-left: -17em;
    }

    #footerlogo {
        margin-left: -19em;
    }

    #carousal img {
        width: 11.5em;
    }

}

/* Finally, it's responsive!!!*/